/* static/landing.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #343a40;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
.plants-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plant-card {
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.plant-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}

.plant-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.plant-label {
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 600px) {
    /* Adjust styles for smaller screens if needed */
    .container {
        padding: 10px;
    }
}
